<section class="hero  has-text-centered  has-background-white-ter" id="about">
    <div class="hero-body">
      <div class="container">

        <h2 align="centered" class="title">METHOD OVERVIEW</h2>
        <br>
        <br>
        <img src="assets/ShootingLabels1.gif" loop=infinite height="1600" width="850" />
        <br>
        <br>
        <p>
          We pre-process 3D data (i.e. mesh or point-clouds) to achieve Real-Time rendering in VR

        </p>
        <br>
        <br>
        <img src="assets/ShootingLabels2.gif" loop=infinite  height="1600" width="850" />
        <br>
        <br>
        <p>
          3D meshes are loaded into the Virtual World and the user can explore and label the environment.
        </p>
        <br>
        <br>
        <img src="assets/ShootingLabels3.gif" loop=infinite  height="1600" width="850" />
        <br>
        <br>
        <p>
          Once the labeled data have been exported, the tool offers some optional post-processing step
        </p>
        <br>
        <br>
      </div>
    </div>
  </section>
