<style>
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 30.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button:hover {
  background-color: #555;
}
</style>
<section class= "has-background-white-ter" id="us">


<body>

<br>
<br>
<br>
<br>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/images/pier.jfif" alt="pier" style="width:40%">
        <div class="container">
          <p class="title">Pierluigi Zama Ramirez</p>
          <h2>PhD student, University of Bologna</h2>
          <p>pierluigi.zama@unibo.it</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/images/claudio.jfif" alt="claudio" style="width:40%">
        <div class="container">
          <p class="title">Claudio Paternesi</p>
          <h2>Graduate student, University of Bologna</h2>
          <p>claudio.paternesi@studio.unibo.it</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/images/luca.jfif" alt="luca" style="width:40%">
        <div class="container">
          <p class="title">Luca De Luigi</p>
          <h2>PhD student, University of Bologna</h2>
          <p> luca.deluigi4@unibo.it</p>
        </div>
      </div>
    </div>


  <div class="column">
    <div class="card">
      <img src="assets/images/luigil.jpeg" alt="luigi" style="width:40%">
      <div class="container">
        <p class="title">Luigi Lella</p>
        <h2>Bachelor student, University of Bologna</h2>
        <p>luigi.lella@studio.unibo.it</p>
      </div>
    </div>
  </div>

<div class="column">
  <div class="card">
    <img src="assets/images/daniele.jpg" alt="daniele" style="width:40%">
    <div class="container">
      <p class="title">Daniele De Gregorio</p>
      <h2>CEO eyecan.ai</h2>
      <p>daniele.degregorio@eyecan.ai</p>
    </div>
  </div>
</div>


<div class="column">
  <div class="card">
    <img src="assets/images/Luigi.jpg" alt="prof" style="width:40%">
    <div class="container">
      <p class="title">Luigi Di Stefano</p>
      <h2>Full professor, University of Bologna</h2>
      <p>luigi.distefano@unibo.it</p>
    </div>
  </div>
</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>
</section>
